@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    font-family: 'Averta-Regular', sans-serif;
    /* font-weight: 400; */
}

img{
    /* vertical-align: middle; */
}

/* home styling starts here */

/* HERO SECTION STYLING */
.hero-container{
    height: 800px;
    background-image: url(./imgforhome/hero-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}

.logo-img1{
    display: flex;
    margin: auto;
    padding-top: 70px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
}

.hero-main{
    max-width: 700px;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
    padding: 10px;
}

.hero-main h2{
    font-size: 32px;
    text-align: center;
    color: #514949;
    line-height: 48px;
    opacity: 0.9;
    margin-bottom: 40px;
}
.hero-main p{
    margin-bottom: 70px;
    line-height: 24px;
    color: #514949;
}

.hero-main a{
    text-decoration: none;
    color: #e7332b;
}


section .one{
    background-color: #fff;
    overflow: hidden;
}

.btn{
   color: #fff;
   /* width: 300px; */
}

.btn button{
    font-size: 15px;
    height: 48px;
    /* width: 220px; */
    border-radius: 0px;
    outline: none;
    color: #fff;
    /* border: transparent; */
    padding: 0px 30px;
    margin: 10px 10px;
}

.break{
    display: none;
}

.btn a:last-child button{
    color: #e7332b;
}

.btn a:last-child button:hover{
    color: white;
}


.red-filled{
    border: transparent;
    background-color: #e7332b;
}

.red-filled:hover{
    background-color: #fff;
    border: 1px solid #e7332b;
    color: #e7332b;
}

.red-outlined{
    /* color: orangered; */
    border: 1px solid #e7332b;
    outline: #e7332b;
    background-color: #fff;
}

.red-outlined:hover{
    background-color: #e7332b;
    color: #fff;

}

section.one{
    background-color: #fff;
    overflow: hidden;
}

.wrapper{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.xxx{
    color: #e7332b;
    font-size: 15px;
    margin-top: 140px;
}

.motto{
    color: #514949;
    font-size: 24px;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 65px;
}

div{
    /* display: block; */
}
  
.cards{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1240px !important;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
    /* margin-bottom: 40px; */
}

.col{
    z-index: 1;
    position: relative;
    max-width: 31.2%;
    flex: 0 0 31.2%;
    /* margin-left: 15px; */
    margin-right: 15px;
    text-align: start;
    margin: 0;
}

.m-15{
    margin:0 1.8rem;
}

.col-card{
    width: 100%;
    /* height: 511px; */
    background-color: #fffafa;
    padding: 61px 47px 82px 36px;
}

.col-card img{
    margin-bottom: 48px;
}
.dotimg{
    width: 100%;
    position: absolute;
    left: -120px;
    top: -75px;
    z-index: -1;
}

.col-card p{
    line-height: 24px;
    opacity: 0.9;
    font-size: 16px;
    color: #514949;
    text-align: left;
    margin-bottom: 1rem;
}

.col-card h3 a{
    text-decoration: none;
    color: #e7332b;
    text-align: left;
    font-weight: lighter;
    opacity: 0.9;
}

.dotimg2{
    width: 100%;
    position: absolute;
    right: -120px;
    top: -75px;
    z-index: -1;
}

/* FOOTER STYLING STARTS HERE */
.footer{
    margin-top: 215px;
    max-width: 1240px !important;
    margin-left: auto;
    margin-right: auto;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
    padding: 20px;
    text-align: left;
}

.footer h3{
    color: #514949;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 0.5rem;

}

.second a{
    text-decoration: none;
    color: #e7332b;
}

.second p{
    margin-bottom: 1rem;
}

.third p{
    font-size: 14px;
    color: #514949;
    opacity: 0.9;
    line-height: 20px;
    margin-bottom: 1rem;
}

.third a{
    color: #e7332b;
    text-decoration: none;
}

.fourth img{
    width: 18px;
    margin-right: 5px;
}

.line{
    margin: 1rem;
}

.footer hr{
    opacity: 0.2;
    border: 0.7px solid #514949;
}
hr{
    overflow: visible;
}
.copyright{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.copyright p{
    color: #514949;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    padding-bottom: 95px;
    margin-bottom: 1rem;
}

/* FOOTER STYLING ENDS HERE */

/* MEDIA QUERIES FOR HOME PAGE STARTS HERE */
@media screen and (max-width:1199px) {
    .dotimg, .dotimg2{
        display: none;
    }
}

@media screen and (max-width:991px) {
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col{
        /* width: 100%; */
        /* flex: 0 0 100%; */
        max-width: 100%;
        margin-left: 15px;
        margin-bottom: 48px;
        margin-right: 15px;
        /* height: auto; */
        /* padding-bottom: 15px; */
    }
}
@media screen and (max-width:768px) {
    .logo-img1{
        padding-top: 100px;
    }

    /* .btn button{
        margin: 10px 50px;
    } */
    .btn{
        display: block;
        margin: auto;
    }

    .break{
        display: block;
    }
    
    .footer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }

    .first img{
        margin-bottom: 15px;
        width: 150px;
    }

    .footer h3{
        font-size: 24px;
        margin-top: 20px;
    }

    .footer h3 a p{
    margin-bottom: 1rem;
    }

    .copyright{
        text-align: center;
    }

    
}

/* MEDIA QUERIES FOR HOME PAGE ENDS HERE  */

/* TRAINING PAGE STYLING STARTS HERE */
#container{
   background-color: rgb(255, 252, 245);
   width: 100%;
}

#container img{
    mix-blend-mode: darken;
}


.bg{
    /* background-color: rgb(255, 253, 245); */
}

header{
    padding-top: 30px;
    padding-bottom: 2px;
}

.header{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 1100;
    /* top: 15px; */
    left: auto;
    /* padding: 10px 0; */
    right: 0;
    background-color: rgb(255, 252, 245);
}
.logoo{
    padding: 0;
}
.ai{
   padding: 0;
}

.nav{
    min-height: 65px;
    position: relative;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}

.sp{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
}

.nav-content{
    display: flex;
    align-items: center;
}

.nav-content a{
    margin-right: 2rem;
    

}

.nav-links{
    position: relative;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 8px 10px;
    color: #514949;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    display: inline-flex;
}


.emo{
    display: flex;
    align-items: center;
}

.thumbs-up{
    /* height: 55px; */
    width: 70px;
    margin-top: -39px;
    background-color: #e7332b;
    border-radius: 100px;
    margin-left: -16px;
    padding: 10px !important;
    position: absolute;
}

.enroll{
    position: initial;
    background-color: #e7332b;
    border-radius: 70px;
    color: #fff;
    text-decoration: none;
    margin-top: -10px;
    padding: 12px 32px;
}

.section-one{
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1440px;
    /* position: relative; */
    padding-top:150px !important;
    width: 83%;


}

.rrr{
    display: flex;
    width: 100%;
    margin-top: -16px;
    margin-left: -16px;
    /* margin-right: -16px; */
}

.uno{
   /* display: flex; */
   /* margin-top: -16px; */
   /* margin-left: -16px; */
   /* width: 100%; */

}

.uno{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-top: 16px;
    max-width: 25%;
    flex-basis: 25%;
    flex-grow: 0;
}

.lady1{
width: 123%;
}

.male1{
    width: 123%;
}

.dos{
    padding-left: 16px;
    padding-top: 16px;
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 0;
}

.sub{
    margin: auto;
    letter-spacing: 0.00938em;
    color: #e7332b;
    font-size: 18px;
    text-align: center;
}

.yyy{
    font-size: 49px;
    margin: auto;
    letter-spacing: 0.00938em;
    text-align: center;
    line-height: 110%;
    color: #1b1a20;
    font-weight: 700;
    padding-top: 10px;
}

.tres{
    display: flex;
    align-items: center;
    padding-left: 16px;
    flex-basis: 25%;
    max-width: 25%;
}

.doodle{
    display: flex;
    justify-content: right;
    margin-left: -10px;
    margin-right: 50px;
    margin-bottom: 28px;
}

.basic{
    width: 68%;
    font-size: 18px;
    line-height: 130%;
    /* margin-bottom: 90px; */
    margin: auto;
    text-align: center;
    color: #1b1a20;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* background-color: #e7332b; */
    /* border-radius: 70px; */
    margin-top: 60px;
    /* padding: 10px 32px; */
    /* width: 25%; */
    /* margin-left: 230px; */
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
}

.cta-link{
    display: inline-flex;
    text-decoration: none;
}

.wire1{
    display: flex;
    justify-content: end;
    margin: auto;
    width: 40%;
}

.maza{
    margin-top: -141px;
    margin-left: 33px;
    width: 54px;
    position: absolute;
}

.section2{
    margin: auto;
    width: 90%;
    max-width: 1440px;
    padding-top: 49px;
}

.hr{
    margin: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);

}

hr{
    display: block;
    width: 100%;
}

.box{
    display: flex;
    margin-top: -16px;
    margin-left: -16px;
    width: 100%;
}

.ingressive{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-top: 30px;
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.ingressive h4{
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    /* margin-right: 1em; */
    /* margin-left: 1em; */
    margin-top: 40px;
}

.symb{
    padding-left: 16px;
    padding-top: 16px;
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.main-sec{
    display: flex;
    justify-content: center;
}

.ingg{
    width: 75%;
}

.jobs{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-left: 16px;
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.jobs p{
    font-size: 24px;
    line-height: 130%;
    /* text-transform: uppercase; */
    /* margin-right: 1em; */
    /* margin-left: 1em; */
    margin-top: 40px;
    letter-spacing: 0.00948em;
    width: 100%;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 40px;
}

.read{
    /* text-decoration: none; */
    color: #43b97f;
    text-align: right;

}

.section3{
    margin: auto;
    max-width: 1440px;
    width: 89%;
    padding-top: 49px;
}

.sec3-box{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.why{
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.arrow{
    display: flex;
    justify-content: center;
}

.whyo{
    color: #e7332b;
    margin: 0px;
    letter-spacing: 0.00938em;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}

.why1{
    color: #1b1a20;
    margin: 0;
    letter-spacing: 0.00938em;
    font-weight: 700;
    line-height: 130%;
    font-size: 41.3px;
}

.str{
    display: flex;
    align-items: center;
    flex-basis: 41.6667%;
    width: 41.6667%;
}

.star{
    display: flex;
    justify-content: right;
    margin-top: 95px;
}

.section4{
    display: flex;
    margin: auto;
    padding-top: 49px;
    width: 92%;
    flex-flow: wrap;
}

.card{
    padding-left: 24px;
    padding-top: 24px;
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.box1{
    background-color: #e7332b;
    border-radius: 18px;
    padding: 58px 48px 93px 50px;
}

.box1-img{
    display: flex;
    float: right;
    /* justify-content: flex-end; */
    margin-right: -49px;
    margin-top: -58px;
    width: 42%;
}

.num{
    margin: 0px;
    color: #fff;
    font-size: 60px;
    line-height: 130%;
    font-weight: 700;
    letter-spacing: 0.00938em;
}

.des{
    font-size: 36px;
    padding-bottom: 36px;
    padding-top: 32px;
    color: #fff;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: 0.00938em;
}

.info{
    margin: 0px;
    color: #fff;
    letter-spacing: 0.00938em;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}

.box2{
    background-color: #fff;
    border-radius: 18px;
    padding: 58px 48px 93px 50px;
    box-shadow: 0 11px 22px rgba(231, 52, 43, 0.137);
    color: #1b1a20;
}

.box1-img{
    display: flex;
    float: right;
    /* justify-content: flex-end; */
    margin-right: -49px;
    margin-top: -58px;
    width: 42%;
}

.box2 p{
    color: #1b1a20;
}

.section5{
    background-color: #e7332b;
    margin-top: 149px;
}

.main-sec5{
    display: flex;
    flex-flow: wrap;
    margin: auto;
    max-width: 1440px;
    padding-top: 49px;
    width: 89%;
}

.get-st{
    padding-left: 24px;
    padding-top: 24px;
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.arr2{
    /* mix-blend-mode: normal; */
    display: flex;
    justify-content: flex-end;
    margin-right: 128px;
}

.get-st p{
    margin: 0px;
    color: #fff;
    letter-spacing: 0.00938em;
    line-height: 130%;
    margin-bottom: 40px;
}


.gt{
    font-size: 18px;
    font-weight: 400;
}

.gtt{
    font-size: 44px;
    font-weight: 700;
}

.task{
    font-size: 18px;
    width: 75%;
    padding-top: 42px;
}

.ennroll{
    position: relative;
    background-color: #faf6f5;
    border-radius: 70px;
    color:#e7332b;
    text-decoration: none;
    margin-top: 30px !important;
    padding: 10px 28px;
    margin-bottom: 40px;
}

.select{
    padding-top: 40px;
    display: flex;
    margin-left: -24px;
    margin-top: -24px;
    flex-flow: row wrap;
}

.teamwrk{
    padding-top: 24px;
    padding-left: 24px;
    flex-basis: 50%;
    max-width: 50%;
    flex-direction: row;
    /* margin: 0px; */
}

.gg{
    display:flex;
    justify-content: left;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding: 13px 15px;
    /* margin-top: 40px; */
    /* min-width: 64px; */
    /* padding-left: 8px; */
    /* padding-top: 8px; */
    /* padding-bottom: 11px; */
    border: 2px solid #fff;
    border-radius: 79px;
    width: 90%;

}

.gg p{
    margin: 0;
    text-align: center;
    font-size: 18px;
    align-items: center;
    /* padding: 20px 0; */
}

.aside{
    padding-left: 24px;
    padding-top: 24px;
    flex-basis: 58.333%;
    max-width: 58.3333%;
}

.section6{
    margin: auto;
    max-width: 1440px;
    padding-top: 69px;
    width: 90%;
}

.head{
    display: flex;
    flex-flow: row wrap;
    margin-top: -24px;
    margin-left: -24px;
}

.texxt{
    padding-left: 24px;
    padding-top: 24px;
    flex-basis: 50%;
    max-width: 50%;
}

.sco{
    margin: 0;
    color: #e7332b;
    font-size: 24px;
    letter-spacing: 0.00938em;
    line-height: 130%;
}

.areas{
    color: #1b1a20;
    margin: 0;
    font-size: 42px;
    letter-spacing: 0.00938em;
    line-height: 130%;
    font-weight: 700;
}

.stacks{
    display: flex;
    margin-top: -24px;
    margin-left: -24px;
    flex-flow: row wrap;
}

.crd{
    flex-basis: 33.333%;
    max-width: 33.33%;
    padding-left: 24px;
    padding-top: 24px;
}

.bx{
    background-color: #fff;
    border-radius: 41px;
    height: 300px;
    box-shadow: 0 11px 22px rgba(231, 52, 43, 0.137);
    padding: 40px;
}
.suxb{
    margin: auto;
    letter-spacing: 0.00938em;
    color: #e7332b;
    font-size: 24px;
    text-align: center;
    margin-top: -50px;
}

.titee{
    /* margin-left: 24px; */
    letter-spacing: 0.00938em;
    line-height: 130%;
    color: #1b1a20;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 20px;
}


.tite{
    /* margin-left: 24px; */
    letter-spacing: 0.001em;
    line-height: 140%;
    color: #1b1a20;
    font-size: 20px;
    /* text-align: center; */
    font-weight: 700;
    padding-bottom: 20px;
}

.exp{
    margin-bottom: 5px;
    letter-spacing: 0.01em;
    padding-top: 40px;
    padding-bottom: 30px;
    line-height: 140%;
    color: #1b1a20;
    font-size: 16px;
}

.divi{
   display: flex;
   justify-content: center;
   margin-top: 70px;
   margin-bottom: 60px; 
}

.section7{
    max-width: 1440px;
    margin: auto;
    padding-top: 49px;
    width: 89%;
}

.left{
    margin-left: 10%;
}

.que{
   text-align: center;
   font-size: 24px;
   color: #e7332b;
   margin-top: -40px;
}

.faq{
    font-size: 40px;
    color: #1b1a20;
    text-align: center;
    padding-bottom: 100px;
    line-height: 130%;
    font-weight: 700;

}

.faqq{
    width: 80%;
    margin: auto;
}

.faq-cont{
    background-color: #c4c1c1;
    border: 1px solid rgb(204, 203, 203);
}

.accordionx{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-color: #fffdf5;
    border-bottom: 2.5px solid #ccc;
    /* padding: 20px; */
}

.acc{
    /* display: flex; */
    /* padding: 10px 0; */
    /* justify-content: space-between; */
    /* cursor: pointer; */
    /* align-items: center; */
    /* color: #333; */
    /* font-size: 18px; */
    /* font-weight: 600; */
    /* line-height: 130%; */
}

.question{
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
}

.question::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 2em;
    font-weight: 400;

}


.ans{
    position: relative;
    background-color: #fffdf5;
    padding-left: 17px;
    /* background-color: #fff; */
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
    display: block;
    transition: height 0.5s ease;
    color: black;

}

 .accordionx.active .ans{
    height: 50px;
    /* padding: 10px; */
    overflow-x: hidden;
 }



.sec7-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 70px;
}

.sec7-main p{
    margin-right: 8px;
}

.twi{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}

.twi a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #e7332b;
    min-width: 64px;
    border-radius: 71px;
    text-decoration: none;
    color: #fff;
    padding: 8px 32px;
}

.section8{
    max-width: 1440px;
    margin: auto;
    width: 89%;
    padding-top: 49px;
}

.twi img{
    padding-right: 8px;
}

.end{
    display: flex;
    justify-content: end;
    margin-top: -60px;
}

.structure{
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
    flex-flow: row wrap;
}

.move{
    display: flex;
    left: 0;
    margin-top: 19%;
    position: absolute;
}

.program-str{
    display: flex;
    padding-left: 40px;
    padding-top: 40px;
    flex-basis: 50%;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.program-cards{
    border-radius: 70px;
    background-color: #1b1a20;
    border: 1px solid #fff;
    box-shadow: 0px 31px 60px rgba(247, 132, 124, 0.221);
    padding: 48px 45px;
    /* margin: auto; */
    height: 700px;
   /* max-width: 50%; */
}

.program-cardss{
    border-radius: 70px;
    background-color: #1b1a20;
    border: 1px solid #fff;
    box-shadow: 0px 31px 60px rgba(247, 132, 124, 0.221);
    padding: 48px 45px;
    /* margin-left: 0px; */
    /* margin: auto; */
    /* width: 50%; */
    height: 700px;
}

.time{
    margin: 0;
    color: #fff;
    padding-bottom: 18px;
    letter-spacing: 0.00938em;
    color: #fff;
    width: 90%;
    font-size: 35px;
    font-weight: 700;
    /* padding-top: 40px; */
    padding-right: 10px;
}

.dura{
    margin: 0px;
    padding-bottom: 18px;
    font-size: 400;
    font-size: 16px;
    line-height: 140%;
    width: 90%;
    color: #fff;
}

.trk{
    margin: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 18px;
    width: 90%;
    font-weight: 900;
    line-height: 140%;
    letter-spacing: 0.01;
}

.trac li{
    /* padding: 0 10px; */
    color: #fff;
    /* margin: auto; */
    width: 80%;
    line-height: 140%;
    letter-spacing: 0.01em;
}


.tracc li{
    /* padding: 0 10px; */
    color: #fff;
    margin: auto;
    width: 100%;
    line-height: 140%;
    letter-spacing: 0.01em;
}
.trac li a{
    /* text-decoration: none; */
    color: #fff;
}

.titi{
   margin-top: -155px;
   position: relative;
   right: 0;
   /* margin-right: -79px; */
   float: right;
}

.ee{
    display: flex;
    justify-content: flex-end;
    float: right;
    margin-top: -72px;
    margin-right: -57px;
}

.section9{
    max-width: 1440px;
    width: 90%;
    padding-top: 29px;
    margin: 0px auto;
}

.circle{
    margin-bottom: 28px;
    display: flex;
}

.tech{
    background-color: rgb(231, 51, 43);
    border-radius: 24px;
    /* position: absolute; */
}

.round{
    left: 12%;
    /* width: 12%; */
    position: relative;
    margin-top: 65px;
    margin-bottom: -200px;
}

.bend{
    float: right;
    position:initial;
    right: 12%;
    width: 11%;
    left: 15%;
    top: 30%;
}

.muii{
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 130%;
    justify-content: center;
    display: flex;
    font-size: 18px;
    padding-top: 70px;
    /* padding-top: -70px; */
}

.brk-tech{
    margin: auto;
    color: #fff;
    text-align: center;
    line-height: 140%;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50%;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 0.01em;
    padding-top: 10px;
}

.en{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enrolll{
    position: initial;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    border-radius: 70px;
    color: #e7332b;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 12px 32px;
}

.trup{
    float: right;
    position: relative;
    margin-top: -125px;
}

.section10{
   width: 92%;
   padding-top: 90px;
   max-width: 1440px;
   margin: auto;
   padding-bottom: 20px;
}

.fest{
    display: flex;
    flex-flow: row wrap;
    margin-top: -16px;
    margin-left: -16px;

}

.lg{
    flex-basis: 50%;
    max-width: 50%;
    padding-top: 16px;
    padding-left: 16px;

}

.soci{
    padding-left: 16px;
    padding-top: 16px;
    flex-basis: 50%;
    max-width: 50%;
}

.soc-box{
    display: flex;
    justify-content: flex-end;
}

.icon{
    display: flex;
    justify-content: space-between;
}

.icon img{
    margin-right: 10px;
}

.seco{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.futext{
    line-height: 140%;
    color: #1b1a20;
    letter-spacing: 0.01em;
}

.futextt{
    display: flex;
    justify-content: space-between;
    line-height: 140%;
    color: #1b1a20;
    /* letter-spacing: 0.01em; */
}

.demac{
    padding-top: 30px;
}

/* TRAINING PAGE MEDIA QUERY */
@media screen and (max-width:1199px) {
    .section-one{
        justify-content: center;
        width: 100%;
        padding-top: 60px !important;
    }
    .rrr{
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
        width: 76%;
    }
    .uno{
        flex-basis: 100%;
        max-width: 100%;
    }
    .dos{
        padding-top:0px;
        max-width: 100%;
        flex-basis: 100%;
    }
    .lady1{
        width: 100%;
    }
    .yyy{
        width: 100%;
    }
    .male1{
        display: none;
    }
    .section4{

    }
    .card{
        flex-basis: 50%;
        max-width: 50%;
    }
    .main-sec5{
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        /* align-items: center; */
        width: 100%;
    }
    .get-st{
        flex-basis: 100%;
        max-width: 100%;
    }
    .get-st p{
        margin-bottom: 5px;
        width: 100%;
    }
    .gtt{
        font-size: 30px;
    }
    .task{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .teamwrk{
        flex-basis: 25%;
        max-width: 25%;

    }
    .gg p{
        padding-left: 0px;
    }
    .aside{
        max-width: 100%;
        flex-basis: 100%;
    }
    .texxt{
        max-width: 100%;
        flex-basis: 100%;
    }
    .sco{
        font-size: 20px;
    }
    .areas{
        font-size: 30px;
    }
    .crd{
        flex-basis: 50%;
        max-width: 50%;
    }
    .que{
        font-size: 20px;
    }
    .faq{
        font-size: 30px;
    }
    .suxb{
        font-size: 20px;
    }
    .titee{
        font-size: 30px;
    }
    
    
}

@media screen and (max-width:1120px) {
    .logoo{
        width: 70%;
        margin-right: 0;
    }
    .ai{
        margin-right: -10px;
    }
    .nav-links{
        padding: 8px 5px;
    }
    .nav-content a{
        margin-right: 1.1em;
    }
    .thumbs-up{
       width: 65px; 
    }
    
}
@media screen and (max-width:1000px) {
    .nav-links{
        display: none;
    }
    
}
@media screen and (max-width:899px) {
    .box{
        flex-direction: column;
    }
    .ingressive{
        flex-basis: 100%;
        text-align: center;
        max-width: 100%;
    }
    .symb{
        flex-basis: 100%;
        max-width: 100%;
    }
    .ingg{
        width: 30%;
    }
    .jobs{
        max-width: 100%;
        flex-basis: 100%;
    }
    .jobs p{
        font-size: 18px;
    }
    .why{
        flex-basis: 100%;
        max-width: 100%;
    }
    .whyo{
        font-size: 20px;
    }
    .why1{
        font-size: 30px;
    }
    .card{
        max-width: 100%;
        flex-basis: 100%;
    }
    .teamwrk{
        flex-basis: 50%;
        max-width: 50%;
    }
    .gg{
        padding: 10px 13px;
        width: 60%;
    }
    .crd{
        flex-basis: 100%;
        max-width: 100%;
    }
    .move{
        display: none;
    }
    .program-str{
        flex-basis: 100%;
        max-width: 100%;
    }
}
/* TRAINING PAGE MEDIA QUERY ENDS */





/* TRAINING PAGE STYLING ENDS HERE */
/* TRAINING PAGE STYLING ENDS HERE */

