*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding-top: 0px;
    padding-bottom: 15px;
    /* display: flex; */
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 1100;
    top: 0;
    left: auto;
    right: 0;
}

.nav{
    display: flex;
    min-height: 64px;
    padding-right: 20px;
    padding-left: 20px;
    width: 90%;
    position: relative;
    align-items: center;
}

.nav-bar{
    display: flex;
    margin: auto;
    /* padding-left: 24px; */
    /* padding-right: 24px; */
    max-width: 1440px;
    width: 89%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    /* justify-content: end; */
}

.nav-bar ul li{
    position: relative;
    display: inline-flex;
    margin-right: 3rem;
    text-decoration: none;
    padding: 8px 8px;
    min-width: 64px;
}

.nav-bar ul li:nth-child(1){
    /* padding-bottom: 12px; */
    border-bottom: 3px solid #e7332b;
}

.links{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.btn{
    outline: none;
    border: none;
    position: initial;
    padding: 11px 35px;
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #fff;
    margin-right: -50px;
    line-height: 19px;
}

.section2{
    padding-top: 350px;
    margin: auto;
    max-width: 1440px;
    width: 85%;
}

.sec-main2{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.text{
    flex-basis: 50%;
    max-width: 50%;
}

.text h4{
    margin: 0;
    color: #161617;
    line-height: 49px;
    font-size: 40px;

}

.text h4 span{
    color: #e7332b;
}

.line{
    margin-left: 365px;
    margin-top: -24px;
}

.pp{
    font-size: 20px;
    color: #787878;
    width: 65%;
    margin-bottom: 30px;
}

.btnn{
    outline: none;
    border: none;
    position: initial;
    padding: 9px 43px;
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #fff;
    margin-right: -50px;
    line-height: 19px;
}

.btnnn{
    outline: none;
    border: none;
    position: initial;
    padding: 9px 43px;
    background-color: #585858;
    border-radius: 0 0 8px 0;
    color: #fff;
    margin-left: 60px;
    line-height: 19px;
}

.pix{
    max-width: 50%;
    flex-basis: 50%;
}

.head-img{
    display: flex;
    justify-content: flex-end;
}

.img1{
    width: 70%;
    margin-top: -120px;
    z-index: 100;
}

.line2{
    margin-top: -180px;
    position: absolute;
    right: 0px;
    mix-blend-mode: soft-light;
}

.sec3-main{
    margin-top: 100px;
    background-image: url(./imgfortalent/bgsection2.063bd869082548bafa74.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;

}

.sec3{
    margin: auto;
    max-width: 1440px;
    width: 85%;
}

.sec3-cont{
    display: flex;
    flex-flow: row wrap;
    margin-top: -24px;
    margin-left: -24px;
    align-items: center;
}

.txt{
    flex-basis: 50%;
    max-width: 50%;
}

.sub{
   font-size: 46px;
   font-weight: 900;
   width: 80%;
}

.sub span{
    color: #e7332b;
}

.count{
    display: flex;
    padding-top: 19px;
}

.country{
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    margin-right: 16px;
    padding:8px 8px 8px 8px;
    width: 60px;
}

.heads{
    padding-left: 24px;
    padding-top: 24px;
    flex-basis: 50%;
    max-width: 50%;
}

.head-img{
    display: flex;
    justify-content: flex-end;
}

.img2{
    width: 70%;
}

.section4{
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    max-width: 1440px;
    width: 85%;
}

.skill{
    display: flex;
    margin-top: -24px;
    margin-left: -24px;
}

.tal{
    padding-top: 24px;
    padding-left: 24px;
    flex-basis: 41.6667%;
    max-width: 41.6667%;
}

.select{
    display: flex;
    flex-flow: row wrap;
    margin-top: -24px;
    margin-left: -24px;
}

.mui{
    padding-left: 24px;
    padding-top: 24px;
    flex-basis: 83.3333%;
    max-width: 83.3333%;
}

.stacks{
    display: flex;
    flex-flow: row wrap;
    margin-top: -24px;
    margin-left: -24px;
}

.stk{
    padding-left: 24px;
    padding-top: 24px;
    flex-basis: 25%;
    max-width: 25%;
}

.stk:hover{
   margin-top: -20px;
   /* margin-top: -10px; */
   transition: margin-top 0.4s ease-in;
}

.tc{
    margin: 0px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    color: #787878;
    display: flex;
    line-height: 35px;
    font-size: 19px;
    box-shadow: 0px 8px 40px hsla(0, 0%, 48%, 0.16);
    padding: 7px;
}



.stkk{
    padding-left: 24px;
    padding-top: 24px;
    /* flex-basis: 11.6667%; */
    /* max-width: 11.6667%; */
}

.section5{
    
}